<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Library</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<form method="post">

  <div class="top">
    <h1>MyLibrary: Edit Book</h1>
    <div class="actions">
        <a class="btn btn-primary" href="/">Back to Library</a>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Pages</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><textarea name="title" id="title" rows="1" cols="20">{{ book.title }}</textarea></td>
        <td><textarea name="author" id="author" rows="1" cols="20">{{ book.author }}</textarea></td>
        <td><textarea name="publisher" id="publisher" rows="1" cols="20">{{ book.publisher }}</textarea></td>
        <td><textarea name="pages" id="pages" rows="1" cols="20">{{ book.pages }}</textarea></td>
        <td>
          <select name="status" id="status">
            <option value="waiting" {% if book.status == 'waiting' %}selected{% endif %}>Waiting</option>
            <option value="reading" {% if book.status == 'reading' %}selected{% endif %}>Reading</option>
            <option value="read" {% if book.status == 'read' %}selected{% endif %}>Read</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a class="btn btn-primary" href="/">Back to Library</a>
  </div>
</form>
</body>
</html>